# We don't need to upload anyone's database files.
database/*.db

# We also don't need to upload anyone's log files.
logs/*.log

# We don't want to include any IDE configuration folders and files.
.idea/
.vscode/
.settings/
.classpath
.project
nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# macOS really seems to love these...
.DS_Store
**/.DS_Store

# And finally we don't want to upload any precompiled Python scripts
**/__pycache__/
**/*.pyc